<app-home-header></app-home-header>

<div class="container home">
  <div class="row home-banner">
    <div class="col-12">
      <ngb-carousel *ngIf="images">
        <ng-template ngbSlide *ngFor="let image of images">
          <img [src]="image" alt="Random slide" class="w-100 home-banner--img" />
        </ng-template>
      </ngb-carousel>
    </div>
  </div>

  <div class="row home-upcoming-exams">
    <div class="col-12">
      <h3>Upcoming Exams</h3>
      <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig"
        (init)="slickInit($event)"
        (breakpoint)="breakpoint($event)"
        (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)"
      >
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
          <div class="home-upcoming-exams--container">
            <div class="home-upcoming-exams--img-container">
              <img src="{{ slide.img }}" alt="" width="100%" />
            </div>
            <p class="home-upcoming-exams--title">{{ slide.name }}</p>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>

  <div class="row home-exams-category">
    <div class="col-12">
      <h3 class="m-b-20">Choose Your Exam</h3>

      <div class="home-exams-category--container">
        <ngx-slick-carousel
          class="carousel"
          #slickModal="slick-carousel"
          [config]="categorySlideConfig"
          (init)="slickInit($event)"
          (breakpoint)="breakpoint($event)"
          (afterChange)="afterChange($event)"
          (beforeChange)="beforeChange($event)"
        >
          <div ngxSlickItem *ngFor="let slide of categorySlides; let i = index" class="slide">
            <button class="btn" [ngClass]="{ 'btn-primary': slide.isActive, 'btn-outline-primary': !slide.isActive }" [id]="'btn-' + i" (click)="onCategoryFilterChange(slide)">
              {{ slide.name }}
            </button>
          </div>
        </ngx-slick-carousel>

        <div class="home-exams-category--exams"></div>
      </div>
    </div>
  </div>

  <div class="row home-features">
    <div class="col-12">
      <h1>Features</h1>

      <div class="row">
        <div class="col-4 home-features--box">
          <h3>Feature 1</h3>
        </div>
        <div class="col-4 home-features--box">
          <h3>Feature 2</h3>
        </div>
        <div class="col-4 home-features--box">
          <h3>Feature 3</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="row home-packages">
    <div class="col-12">
      <h1>Packages</h1>
    </div>
  </div>

  <div class="row home-posts">
    <div class="col-12">
      <h1>Posts</h1>
    </div>
  </div>
</div>

<app-home-footer></app-home-footer>
