.home {
  &-banner {
    // height: 20rem;
    padding: 1.5rem 0;

    &--img {
      height: 25rem;
      width: auto;
    }
  }

  &-upcoming-exams {
    &--img-container {
      height: 5rem;
      width: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;

      & img {
        height: 100%;
        border-radius: 50%;
      }
    }

    &--container {
      padding: 1rem;
    }

    &--title {
      margin-bottom: 0;
      margin-top: 0.5rem;
      text-align: center;
    }
  }

  &-exams-category {
    height: 40rem;
    border: 2px solid red;
    border-top: none;
  }

  &-features {
    height: 30rem;
    border: 2px solid red;
    border-top: none;
  }

  &-packages {
    height: 30rem;
    border: 2px solid red;
    border-top: none;
  }

  &-posts {
    height: 35rem;
    border: 2px solid red;
    border-top: none;
  }
}
