<app-breadcrumb [title]="'Advertisments'" [items]="[]" [active_item]="'Advertisments'"></app-breadcrumb>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card card-absolute">
        <div class="card-header bg-primary">
          <h5 class="text-white">Advertisment Details</h5>
        </div>
        <div class="card-body">
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label class="form-label" for="validationCustom01">Image URL</label>
              <input class="form-control" id="validationCustom01" type="url" placeholder="Image URL" required="" />
            </div>

            <div class="col-md-1">
              <label class="col-form-label m-r-10">Active</label>
              <div class="media-body text-start icon-state">
                <label class="switch">
                  <input type="checkbox" [checked]="checked" (change)="checked = !checked" /><span class="switch-state" [ngClass]="{ 'bg-success': checked, 'bg-danger': !checked }"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-1">
              <button class="btn btn-primary mt-3" type="submit">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="card card-absolute">
        <div class="card-header bg-primary">
          <h5 class="text-white">Advertisment Sequence</h5>
        </div>
        <div class="card-body">
          <div class="form-row ui-sortable" [dragula]="adSequence" [(dragulaModel)]="data">
            <div class="col-sm-12 col-xl-3" *ngFor="let advertisment of data" [innerHtml]="advertisment.html"></div>
          </div>

          <div class="form-row">
            <div class="col-md-1">
              <button class="btn btn-primary mt-3" type="submit">Update</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
